.carousel{
    max-height: 100vh;
}
.carousel-indicators{
    z-index: 100;
}
.carousel-item{
    max-height: 100vh;
}
.carousel-control-prev, .carousel-control-next{
    z-index: 100!important;
}
/* .slider1{
    background: url(/images/slider/7.jpg);
}
.slider2{
    background: url(/images/slider/8.jpg);
}
.slider3{
    background: url(/images/slider/9.jpg);
}
.slider-img{
    height: 100vh;
    background-size: cover;
    background-position: center;
} */
.carousel-item::before {
    content: "";
	background:url("../images/pattern.png") repeat rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.carousel-caption{
    z-index: 100;
    top: 50%;
    transform: translateY(-35%);
}
.carousel-caption p.main-title{
    font-family: Oswald;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.carousel-caption p.desc{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/* Products */
.fp {
    background-color: #000000ef;
}
.sp{
    background-color: #050013;
}
.fp .main-title, .sp .main-title{
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.fp .main-title p, .sp .main-title p{
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    color: #9f9f9f;
    border-bottom: 3px solid #4b4b4b;
    text-align: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    margin: 0 20px;
    padding: 0 0 50px;
}
.products .frame{
    background-color: #000;
    width: 250px;
    padding: 40px 30px;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products .frame img{
    width: 150px;
    border-radius: 20%;
    height: 150px;
}
.products .frame .details{
    padding: 20px 0 0;
    margin: 0 0 20px;
    text-align: center;
    font-family: Oswald;
}
.products .frame .details .price{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.products .frame .details .name{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1px;
}
.products .frame .details .item-code{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff68;
    text-transform: uppercase;
    margin-bottom: 1px;
}
